/*FONT POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/*DEFININDO AS VARIÁVEIS*/
/*LIGHT THEME*/
:root{
    --backgrond-color: #FCFCFC;
    --section-back-color: #F0F0F0;
    --btn-back-color: #2b2b2b15;
    --tittle-color: #1B1B1F;
    --subtittle-color: #ADADAD;
    --text-color: #626270;
    --back-img: url(../images/back-light-theme.webp);
}

/* DARK THEME*/
/*:root{
    --backgrond-color: #1B1B1F;
    --section-back-color: #1A1A1E;
    --btn-back-color: #dedef311;
    --tittle-color: #FCFCFC;
    --subtittle-color: #4E4E58;
    --text-color: #B1B1B1;
    --back-img: url(../images/back-dark-theme.webp);
}*/


/*ESTILOS PADRÕES DO DOCUMENTO*/
*{
    border: none;
    padding: 0;
    outline: 0;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    transition: all linear 200ms;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--backgrond-color);
}

.hiddem-desktop{
    display: none !important;
}

.hiddem-mobile{
    display: flex;
}

@media screen and (max-width: 800px) {
    .hiddem-desktop{
        display: flex !important;
    }

    .hiddem-mobile{
        display: none !important;
    }
}

/*BOTÕES*/
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1rem;
    width: fit-content;
    border-radius: 2rem;
    gap: .5rem;
    font-size: .9rem;
    background-color: var(--btn-back-color);
    color: var(--tittle-color);
}

.btn svg{
    width: 1.2rem;
    height: 1.1rem;
}

.btn svg > path{
    fill: var(--tittle-color);
}

.btn:hover{
    background-color: var(--tittle-color);
    color: var(--backgrond-color);
}

.btn:hover svg > path{
    fill: var(--backgrond-color);
}

.btn_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/*LINKS SOCIAIS*/
.social-links-content{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 800px) {
    .social-links-content{
        justify-content: center;
    }
}

.social-link svg > path{
    fill: var(--tittle-color);
}

.social-link svg{
    width: 1.5rem;
    height: 1.5rem;
}

.social-link:hover svg > path{
    fill: var(--text-color);
}


/*ESTILOS DE TEXTO*/
.title, h2{
    font-size: 1.5rem;
    color: var(--tittle-color);
    
}

.subtitle, h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--subtittle-color);
}

.subtitle b{
    font-weight: 400;
    font-style: italic;
}

.paragraph, p{
    font-size: .9rem;
    color: var(--text-color);
}


/*SEÇÕES*/
/*HERO SECTION*/
.hero-section{
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-image: var(--back-img);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.minha-cara{
    width: 12rem;
    pointer-events: none;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sobre-mim h4{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

.sobre-mim h1{
    font-size: 2rem;
    font-weight: 800;
    color: var(--tittle-color);
}

@media screen and (max-width: 800px) {
    .hero-section-content{
        flex-direction: column;
        align-items: center;
    }

    .minha-cara{
        width: 8rem;
        pointer-events: none;
    }

    .sobre-mim{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*PROJETO EM DESTAQUE*/
.projeto-em-destaque{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-back-color);
    padding: 4rem;
}

.projeto-em-destaque-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 55%;
}

.cover-projeto{
    width: 40%;
    background-color: var(--subtittle-color);
    height: 20rem;
}

@media screen and (max-width: 800px) {
    .projeto-em-destaque-content{
        width: 100%;
    }

    .cover-projeto{
        width: 100%;
        height: 20rem;
    }
}

/*PROJETOS*/
.projetos{
    width: 100%;
    padding: 4rem;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.grid-projetos{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.projeto-content{
    width: 30%;
    height: 12rem;
    background-color: var(--text-color);
}

@media screen and (max-width: 800px) {
    .grid-projetos{
        flex-direction: column;
        gap: 2rem;
    }

    .projeto-content{
        width: 100%;
    }
}