/*FONT POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/*DEFININDO AS VARIÁVEIS*/
/*LIGHT THEME*/
:root{
    --backgrond-color: #FCFCFC;
    --section-back-color: #F0F0F0;
    --btn-back-color: #dddddd;
    --tittle-color: #1B1B1F;
    --subtittle-color: #ADADAD;
    --text-color: #626270;
    --back-img: url(../images/back-light-theme.webp);
}

/* DARK THEME*/
/*:root{
    --backgrond-color: #1B1B1F;
    --section-back-color: #1A1A1E;
    --btn-back-color: #232328;
    --tittle-color: #FCFCFC;
    --subtittle-color: #4E4E58;
    --text-color: #B1B1B1;
    --back-img: url(../images/back-dark-theme.webp);
}*/


/*ESTILOS PADRÕES DO DOCUMENTO*/
*{
    border: none;
    padding: 0;
    outline: 0;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    transition: all linear 200ms;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--backgrond-color);
}

/*BOTÕES*/
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1rem;
    width: fit-content;
    border-radius: 2rem;
    gap: .5rem;
    font-size: .9rem;
    background-color: var(--btn-back-color);
    color: var(--tittle-color);
}

.btn svg{
    width: 1.2rem;
    height: 1.2rem;
}

.btn svg > path{
    fill: var(--tittle-color);
}

.btn:hover{
    background-color: var(--tittle-color);
    color: var(--backgrond-color);
}

.btn:hover svg > path{
    fill: var(--backgrond-color);
}

.btn_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/*LINKS SOCIAIS*/
.social-links-content{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.social-link svg > path{
    fill: var(--tittle-color);
}

.social-link svg{
    width: 1.5rem;
    height: 1.5rem;
}

.social-link:hover svg > path{
    fill: var(--text-color);
}


/*SEÇÕES*/
/*HERO SECTION*/
.hero-section{
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-image: var(--back-img);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.minha-cara{
    width: 12rem;
    pointer-events: none;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sobre-mim h4{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

.sobre-mim h1{
    font-size: 2rem;
    font-weight: 800;
    color: var(--tittle-color);
}

/*PROJETO EM DESTAQUE*/
.projeto-em-destaque{
    width: 100%;
    background-color: var(--section-back-color);
    padding: 4rem;
}
